<h1>Reservation List</h1>

<div *ngIf="success" class="alert success">{{ success }}</div>
<div *ngIf="error" class="alert error">{{ error }}</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Area</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of reservations">
        <td>{{ res.id }}</td>
        <td>{{ res.name }}</td>
        <td>{{ res.area }}</td>
        <td>{{ res.date }}</td>
        <td>{{ res.time }}</td>
      </tr>
    </tbody>
  </table>
</div>
